
body {background: white;}
.bg {
    background-image: url('background.png');
    background-size: cover;
    
    height: 650px;
    width: 1250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
}

.pagebox {
    width: 1000px;
    height: 400px;
    border: 2px solid #f0A500;
   
    background-color: rgb(0,0,0,0.4);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75px auto;
  grid-template-areas: 
  "menu ."
  "pagearealeft pagearearight";
  border-radius: 5px;
  }
.pagetext {
   grid-area: pagearealeft / span 2;
  
    border-radius: 5px;
    height: 325px;
    }
.pagelogo {
    grid-area: pagearearight;
    font-family: 'Permanent Marker', cursive;
    color: #dbdbdb;
    font-size: 40px;
    
 
}
.menucontainer {
    grid-area: menu;
  }
  i {
      color: #f0a500;
      opacity: 0.5;
      margin-left: 8px;
  }
i:hover {
    opacity: 1;
  
    
   
}
.fa-utensils {
    margin-left: 30px;
}
.fa-phone-square-alt {
    margin-left: 30px;
}
.menuchosen {
    opacity: 1;
}