
html {
    -webkit-text-size-adjust: none; 
}
body {background: white;
overflow: hidden;}
.bg {
    background-image: url('background.png');
    background-size: cover;
    
    height: 650px;
    width: 1250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
}

.pagebox {
    width: 1000px;
    height: 400px;
    border: 2px solid #f0A500;
    overflow: hidden;
   
    background-color: rgb(0,0,0,0.4);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75px auto;
  grid-template-areas: 
  "menu ."
  "pagearealeft pagearearight";
  border-radius: 5px;
  }
.pagetext {
   grid-area: pagearealeft / span 2;
  
    border-radius: 5px;
    height: 325px;
    }
.pagelogo {
    grid-area: pagearearight;
    font-family: 'Permanent Marker', cursive;
    color: #dbdbdb;
    font-size: 40px;
    
 
}
.pagemenu {
    grid-row: 2;
    grid-column: 1 /3;
    overflow-y: scroll;
    scrollbar-color:  #f0a500 #dbdbdb;
    scrollbar-width: thin;
   
}
.pagemenu::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

.pagemenu::-webkit-scrollbar-track-piece  {
    background-color: #dbdbdb;
}

.pagemenu::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #f0a500;
}
.pagecontact {
    grid-area: pagearearight;
    font-family: 'Permanent Marker', cursive;
    color: #dbdbdb;
    font-size: 40px;
}
.food {
    border: 2px solid  #f0a500;
    margin-left: 50px;
    margin-top: 50px;
    height: 170px;
    width: 260px;
    opacity: 0.8;
}
.food:hover {
    opacity: 1;
}
.menucontainer {
    grid-area: menu;
  }
  i {
      color: #f0a500;
      opacity: 0.5;
      margin-left: 8px;
  }
i:hover {
    opacity: 1;
  
    
   
}
.fa-utensils {
    margin-left: 30px;
}
.fa-phone-square-alt {
    margin-left: 30px;
}
.menuchosen {
    opacity: 1;
}
